= content_for :meta_tags do
  - if current_user
    = auto_discovery_link_tag(:atom, group_url(@group, format: :atom, private_token: current_user.private_token), title: "#{@group.name} activity")

.dashboard
  .header-with-avatar.clearfix
    = image_tag group_icon(@group), class: "avatar group-avatar s90"
    %h3
      = @group.name
    .username
      @#{@group.path}
    - if @group.description.present?
      .description
        = escaped_autolink(@group.description)
  %hr

  = render 'shared/show_aside'

  .row
    %section.activities.col-md-8
      .hidden-xs
        - if current_user
          = render "events/event_last_push", event: @last_push

          - if current_user
            %ul.nav.nav-pills.event_filter.pull-right
              %li
                = link_to group_path(@group, { format: :atom, private_token: current_user.private_token }), title: "Feed", class: 'rss-btn' do
                  %i.fa.fa-rss
                  Activity Feed

          = render 'shared/event_filter'
          %hr

      .content_list
      = spinner
    %aside.side.col-md-4
      = render "projects", projects: @projects
      %br
      = render "shared_projects", projects: @shared_projects
