%li
  .pull-right
    = link_to group_ldap_group_link_path(group, ldap_group_link), method: :delete, class: 'btn btn-danger btn-sm' do
      = fa_icon('unlink', text: 'unlink')
  %strong= ldap_group_link.cn

  - if ldap_group_link.config
    %p.light
      As #{ldap_group_link.human_access} on #{ldap_group_link.provider_label} server
  - else
    %p.cred
      %i.fa.fa-warning
      Config for
      %code #{ldap_group_link.provider}
      does not present in GitLab
